<div id="tarea_<%= new_taks['id'] %>" class="col-sm-3 cuadrado<% if new_taks['done'] == true %> tarea-completada <% else %> tarea-pendiente<% end %>">
  <div class="row">
    <div class="col-sm-6 text-left">
      <i class="icon fa fa-paperclip "></i>
    </div>  
    <div class="col-sm-6 text-right">
      <% if new_taks['done'] == true %>
        <a href="/taks/delete/<%= new_taks['id'] %>" title="Eliminar Tarea" id="<%= new_taks['id'] %>" class="taks_delete"><i data-id="<%= new_taks['id'] %>" class="fa fa-trash icon"></i></a>
      <% else %>
        <a href="/taks/complete/<%= new_taks['id'] %>" title="Completar Tarea" class="taks_complete"><i id="id_taks_<%= new_taks['id'] %>" class="fa fa-check icon"></i></a>
        <a href="/taks/delete/<%= new_taks['id'] %>" title="Eliminar Tarea" id="<%= new_taks['id'] %>" class="taks_delete"><i data-id="<%= new_taks['id'] %>" class="fa fa-trash icon"></i></a>
      <% end %>
    </div>
  </div>
  <h3 class="text-center"><%= new_taks['title'] %></h3>
  <p class="text-button">fecha creado: <%= new_taks["created_at"].split("T")[0] %></p>
</div>